name: CICD
on: 
  push: 
    branches:
      - main
jobs:
  build:
    name: build-deploy-to-sandbox
    environment: sandbox
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Dependency
        uses: borales/actions-yarn@v3.0.0
        with:
          cmd: install # will run `yarn install` command
      - name:  Build Common UI
        uses: borales/actions-yarn@v3.0.0
        with:
          cmd: workspace common-ui build # will run `yarn workspace common-ui build` command
        run: yarn workspace common-ui build
      - name:  Install Common UI
        uses: borales/actions-yarn@v3.0.0
        with:
            cmd: install # will run `yarn install` command
      - name:  Build
        uses: borales/actions-yarn@v3.0.0
        with:
          cmd: build # will run `yarn build` command
      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: ${{ secrets.SSH_HOST }}
      - name: Adding known hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts          
      - name: Copy Package
        run: |
          sh ./scripts/pack-prod-build.sh
          rsync shiksha-admin-ui.tar ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/sandbox-admin.shikshaplatform.io/shiksha-admin-ui.tar
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/sandbox-admin.shikshaplatform.io/public
            rm -rf *
            cp ../shiksha-admin-ui.tar ./
            tar -xvf shiksha-admin-ui.tar .
